In [ ]:
#1. Square of Numbers from 1 to 5
Output:
1 4 9 16 25

In [18]:
x=[1,2,3,4,5]
squarevalue= [x**2 for x in x]
print(squarevalue)

[1, 4, 9, 16, 25]

In [ ]:
#2.Swap Two Variables Without Using a Temporary Variable
Question: Write a Python program to swap two variables a = 5 and b = 10 without using a temporary variable.

In [36]:
a=5
b=10
a=b
print(a)

TypeError: 'int' object is not iterable

In [ ]:
 #3.Find Even and Odd Numbers in a List
Question: Write a Python program to separate even and odd numbers from the list [12, 17, 19, 24, 35, 40, 56].

In [35]:
list = [12, 17, 19, 24, 35, 40, 56]
for x in list:
    if x%2 == 0:
        print(x,"is Even Numbers")
    else:
        print(x,"is Odd Numbers")

12 is Even Numbers
17 is Odd Numbers
19 is Odd Numbers
24 is Even Numbers
35 is Odd Numbers
40 is Even Numbers
56 is Even Numbers

In [ ]:
#4. Reverse a Number
Question: Write a Python program to reverse the number 12345.

In [42]:
list=[1,2,3,4,5]
list.reverse()
print(list)

[5, 4, 3, 2, 1]

In [ ]:
#5. Find the Second Largest Number in a List
Question: Write a Python program to find the second largest number in the list [12, 45, 98, 34, 23].

In [46]:
list = [12, 45, 98, 34, 23]

TypeError: 'int' object is not iterable