In [1]:
#print 0 to 20 by using range

In [2]:
for i in range(20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#print range 10 to 20 ( horizontal )

In [4]:
for i in range(10,20):
    print (i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [5]:
# Print number of items in the list by using 'len'

In [7]:
List2= (10,20,14,55,43,87,76)

In [9]:
print(list(List2))
print ("Number of item in the List2:")
print (len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [22]:
print ("Artificial Intelligence")
words= "Artificial Intelligence"
for word in words:
    print (word)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [24]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [26]:
word= "-Your Name-","-Your Age-","-Your Profession-"
for words in word:
    print(words)

-Your Name-
-Your Age-
-Your Profession-

In [27]:
# Print this mixered datatype using Tuples

In [33]:
t1= (1, 'Welcome', 2, 'Hope')
print (t1)

(1, 'Welcome', 2, 'Hope')

In [35]:
t1=(0,1,2,3)
t2=('Python','HOPE')
t3= (t1,t2)
print(t3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [37]:
# print Odd Numbers in the list

In [48]:
list1= 20,10,16,19,25,1,276,188
print ((list1))
for num in list1:
    if (num %2==1):
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [49]:
# print Even numbers in the list

In [50]:
list1=(20,10,16,19,25,1,276,188)
print(list1)
for number in list1:
    if (number%2==0):
        print(number,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even